gudhi==3.8.0
keras==2.12.0
lightning-utilities==0.8.0
lit==16.0.5
mnist==0.2.2
networkx==3.1
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
pytorch-lightning==2.0.2
scipy==1.10.1
sympy==1.12
tensorboard==2.12.3
tensorflow==2.12.0
torch==2.0.1
torchmetrics==0.11.4
torchvision==0.15.2
tqdm
scikit-learn
